.jfooh { 
  padding-right: 17px;
  margin-left: 0px;
  border-right-width: 62px;
  border-right-width: 23px;
  padding-left: 7px;
  line-height: 64px;
  padding-left: 90px;
  padding-right: 99px;
  border-right-width: 73px;
  padding-bottom: 17px;
  margin-top: 75px;
  font-size: 76px;
  font-size: 51px;
  padding-bottom: 11px;
  margin-right: 2px;
}
