.jfooh { 
  padding-right: 17px;
  margin-left: 0px;
  border-right-width: 62px;
  border-right-width: 23px;
  padding-left: 7px;
  line-height: 64px;
  padding-left: 90px;
  padding-right: 99px;
  line-height: 98px;
}
